/* General Styles */
.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  width: 10rem;
  height: 8rem;
  margin-left: -2.8rem;
}

.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.n-list > ul > li:hover {
  cursor: pointer;
  color: var(--orange);
}

.n-button {
  flex: 2;
}

/* Dark Mode Styles */
.dark-mode .n-wrapper {
  background-color: #333;
  color: #fff;
}

.dark-mode .n-list.open {
  background-color: #333;
  color: white; /* Text color should be white in dark mode */
}

.dark-mode .n-list > ul > li {
  color: #fff;
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
  .toggle {
    position: absolute;
    left: 4rem;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 0.4rem;
  }
  .n-list.open {
    display: flex;
    position: absolute;
    top: calc(10vh + 1rem);
    right: 1rem;
    width: auto;
    flex-direction: column;
    z-index: 100;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .dark-mode .n-list.open {
    background-color: #333;
    color: white;
  }
  .n-list > ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .n-list > ul > li {
    margin: 0.5rem 0;
    color: inherit; /* Inherit text color */
  }
}

@media screen and (min-width: 481px) {
  .hamburger {
    display: none;
  }
}
